<div class="row">
  <header class="col-md-12 col-sm-12" 2style="padding-bottom: 10px">

    <nav class="navbar navbar-default">
      <div class="container">

        <div class="navbar-header">
          <p class="navbar-brand"><b>Tiny URLs</b></p>
        </div>
        <!-- class="navbar-header" -->

        <% if (!temp.userName) { %>
          <a href="/urls/register" class="navbar-text">Register</a>
          <% if (temp.page !== 'login') {%>
            <p class="navbar-text"> | </p>
            <a href="/urls/login" class="navbar-text">Log In</a>
            <% } %>
              <% } else { %>
                <p class="navbar-brand">Hi
                  <%=temp.userName %>
                </p>
                <% } %>

                  <ul class="nav navbar-nav">
                    <% if (temp.page == 'index') {%>
                      <li class="active"><a href="/urls/">Home</a></li>
                      <%} else {%>
                        <li><a href="/urls/">Home</a></li>
                        <%} %>

                          <% if (temp.userName) {%>
                            <% if (temp.page == 'new') { %>
                              <li class="active"><a href="/urls/new">New URL</a></li>
                              <% } else { %>
                                <li><a href="/urls/new">New URL</a></li>
                                <% } %>
                                  <li><a href="/urls/logout">Log Out</a></li>
                                  <%} %>
                  </ul>
                  <!-- use the navbar-btn to align the button with the navbar -->

      </div>
      <!-- class="container" -->

    </nav>
    <!-- class="navbar navbar-default " -->

</div>
<!-- class="container " -->
</header>

</div>
<!-- class="row " -->
