<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>Tiny App</title>
</head>

<body>

  <%- include('partials/_header') %>
    <div class="container">

      <h4 class="col-md-12 col-sm-12">Short URL: <%= temp.shortURL%></h4>

      <!-- Bootstrap form -->
      <form class="form-horizonal" action="/urls/<%= temp.shortURL%>/update" method="POST">
        <div class="form-group">
          <div class="col-md-4">
            <input class="form-control" type="text" name="longURL" value="<%= temp.longURL%>">
          </div>

          <button class="btn btn-primary" type="submit" value="submit">Update</button>
        </div>
      </form>
      <!-- End Bootstrap form -->

    </div>
    <!-- Bootstrap container -->
</body>

</html>
