<html>
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header') %>
<h4>The short url for <%= longURL%> is:</h4>
    <a href="<%= shortURL%>"> <%= shortURL%></a>
</body>
</html>